<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="icu.net" version="2.1.0" targetFramework="net452" />
  <package id="Icu4c.Win.Full.Lib" version="56.1.21" targetFramework="net452" />
  <package id="Icu4c.Win.Min" version="56.1.58" targetFramework="net452" />
  <package id="ICU4C_58_2" version="1.0.0" targetFramework="net452" />
</packages>